/* line 2, ../Udemy/UBER_Project/src/sass/style.sass */
* {
  font-family: 'Roboto', sans-serif;
}

/* line 1, ../Udemy/UBER_Project/src/sass/_general.sass */
header {
  position: relative;
  height: 50px;
}

/* line 5, ../Udemy/UBER_Project/src/sass/_general.sass */
nav {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: #212121;
  z-index: 5;
}

/* line 12, ../Udemy/UBER_Project/src/sass/_general.sass */
.burger {
  display: none;
}

/* line 15, ../Udemy/UBER_Project/src/sass/_general.sass */
.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

/* line 22, ../Udemy/UBER_Project/src/sass/_general.sass */
.menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

/* line 26, ../Udemy/UBER_Project/src/sass/_general.sass */
.menu_link:hover {
  color: #1eacc7;
  text-decoration: none;
}

/* line 30, ../Udemy/UBER_Project/src/sass/_general.sass */
.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

/* line 33, ../Udemy/UBER_Project/src/sass/_general.sass */
.menu_item:last-child {
  border-right: none;
}

/* line 36, ../Udemy/UBER_Project/src/sass/_general.sass */
.subheader {
  position: absolute;
  top: 50px;
  height: 84px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 43, ../Udemy/UBER_Project/src/sass/_general.sass */
.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

/* line 48, ../Udemy/UBER_Project/src/sass/_general.sass */
.subheader_official {
  margin-top: 6px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
}

/* line 55, ../Udemy/UBER_Project/src/sass/_general.sass */
.subheader_call {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  margin-top: 19px;
  text-align: right;
}

/* line 62, ../Udemy/UBER_Project/src/sass/_general.sass */
.subheader_phone {
  display: block;
  margin-top: 8px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 10px;
}

/* line 71, ../Udemy/UBER_Project/src/sass/_general.sass */
.subheader_phone:hover {
  color: #1eacc7;
  text-decoration: none;
}

/* line 75, ../Udemy/UBER_Project/src/sass/_general.sass */
.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 4px;
}

/* line 2, ../Udemy/UBER_Project/src/sass/_mixins.sass */
.subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

/* line 90, ../Udemy/UBER_Project/src/sass/_general.sass */
.promo {
  min-height: 800px;
  background: url("../img/first_bg.jpg") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

/* line 95, ../Udemy/UBER_Project/src/sass/_general.sass */
.promo_header {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 60px;
  margin: 0;
  text-align: center;
}

/* line 104, ../Udemy/UBER_Project/src/sass/_general.sass */
.promo_subheader {
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
  text-align: center;
}

/* line 113, ../Udemy/UBER_Project/src/sass/_general.sass */
.promo_descr {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 23px;
  text-align: center;
}

/* line 121, ../Udemy/UBER_Project/src/sass/_general.sass */
.promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 2, ../Udemy/UBER_Project/src/sass/_mixins.sass */
.promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

/* line 137, ../Udemy/UBER_Project/src/sass/_general.sass */
.section_header {
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 38px;
}

/* line 145, ../Udemy/UBER_Project/src/sass/_general.sass */
.section_subheader {
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  margin-top: 19px;
}

/* line 152, ../Udemy/UBER_Project/src/sass/_general.sass */
.rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 112px;
  height: 24px;
  background-color: #000000;
}

/* line 161, ../Udemy/UBER_Project/src/sass/_general.sass */
.rectangle_subheader {
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  margin-top: 8px;
  text-align: center;
}

/* line 168, ../Udemy/UBER_Project/src/sass/_general.sass */
.advantages {
  min-height: 900px;
  padding: 71px 0 65px 0;
}

/* line 172, ../Udemy/UBER_Project/src/sass/_general.sass */
.advantages_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

/* line 178, ../Udemy/UBER_Project/src/sass/_general.sass */
.advantages_wrapper .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}

/* line 188, ../Udemy/UBER_Project/src/sass/_general.sass */
.advantages_text {
  width: 343px;
}

/* line 191, ../Udemy/UBER_Project/src/sass/_general.sass */
.advantages_subheader {
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
  margin-top: 40px;
}

/* line 197, ../Udemy/UBER_Project/src/sass/_general.sass */
.advantages_descr {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
  text-align: justify;
}

/* line 204, ../Udemy/UBER_Project/src/sass/_general.sass */
.mobile {
  min-height: 864px;
  padding: 48px 0 80px 0;
  background: url("../img/possibilities_bg.png") center center/cover no-repeat;
}

/* line 208, ../Udemy/UBER_Project/src/sass/_general.sass */
.mobile .rectangle_subheader {
  position: relative;
  color: white;
  z-index: 2;
  text-transform: uppercase;
}

/* line 213, ../Udemy/UBER_Project/src/sass/_general.sass */
.mobile .row {
  margin-top: 31px;
}

/* line 215, ../Udemy/UBER_Project/src/sass/_general.sass */
.mobile_item {
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
  position: relative;
}

/* line 222, ../Udemy/UBER_Project/src/sass/_general.sass */
.mobile_item_1 {
  background: url("../img/advantage_1.jpg") center center/cover no-repeat;
}

/* line 224, ../Udemy/UBER_Project/src/sass/_general.sass */
.mobile_item_2 {
  background: url("../img/advantage_2.jpg") center center/cover no-repeat;
}

/* line 226, ../Udemy/UBER_Project/src/sass/_general.sass */
.mobile_item_3 {
  background: url("../img/advantage_3.jpg") center center/cover no-repeat;
}

/* line 228, ../Udemy/UBER_Project/src/sass/_general.sass */
.mobile_item_4 {
  background: url("../img/advantage_4.jpg") center center/cover no-repeat;
}

/* line 230, ../Udemy/UBER_Project/src/sass/_general.sass */
.mobile_item_5 {
  background: url("../img/advantage_5.jpg") center center/cover no-repeat;
}

/* line 232, ../Udemy/UBER_Project/src/sass/_general.sass */
.mobile_item_6 {
  background: url("../img/advantage_6.jpg") center center/cover no-repeat;
}

/* line 234, ../Udemy/UBER_Project/src/sass/_general.sass */
.mobile_item_subtitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

/* line 240, ../Udemy/UBER_Project/src/sass/_general.sass */
.mobile_item_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 26px;
  height: 26px;
  background-color: #000000;
  margin: 0 auto;
  border-radius: 100%;
  cursor: pointer;
}

/* line 255, ../Udemy/UBER_Project/src/sass/_general.sass */
.mobile_item_plus:before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  transition: 0.3s all;
}

/* line 263, ../Udemy/UBER_Project/src/sass/_general.sass */
.mobile_item_plus:after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1eacc7;
  transition: 0.3s all;
}

/* line 275, ../Udemy/UBER_Project/src/sass/_general.sass */
.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #ff5656;
}

/* line 278, ../Udemy/UBER_Project/src/sass/_general.sass */
.choice {
  position: relative;
  min-height: 896px;
  padding: 57px 0 138px 0;
  background: url("../img/car_bg.png") center center;
}

/* line 283, ../Udemy/UBER_Project/src/sass/_general.sass */
.choice .rectangle_white {
  position: relative;
  width: 112px;
  height: 24px;
  background-color: #ffffff;
  z-index: 2;
}

/* line 289, ../Udemy/UBER_Project/src/sass/_general.sass */
.choice .rectangle_subheader {
  position: relative;
  color: #070716;
  z-index: 2;
  text-transform: uppercase;
}

/* line 294, ../Udemy/UBER_Project/src/sass/_general.sass */
.choice .section_header_white {
  margin-top: 32px;
  position: relative;
  color: #ffffff;
  z-index: 2;
}

/* line 299, ../Udemy/UBER_Project/src/sass/_general.sass */
.choice .section_subheader_white {
  margin-top: 8px;
  position: relative;
  color: #ffffff;
  z-index: 2;
  text-transform: uppercase;
}

/* line 305, ../Udemy/UBER_Project/src/sass/_general.sass */
.choice .choice_img {
  position: relative;
  display: block;
  margin: 56px auto 0 auto;
  z-index: 2;
}

/* line 310, ../Udemy/UBER_Project/src/sass/_general.sass */
.choice .choice_descr {
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  text-align: center;
  z-index: 2;
}

/* line 316, ../Udemy/UBER_Project/src/sass/_general.sass */
.choice .black_bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 499px;
  width: 100%;
  background-color: #070716;
  z-index: 1;
}

/* line 325, ../Udemy/UBER_Project/src/sass/_general.sass */
.conditions {
  padding: 68px 0 84px 0;
}

/* line 328, ../Udemy/UBER_Project/src/sass/_general.sass */
.conditions .rectangle_subheader {
  position: relative;
  color: white;
  z-index: 2;
  text-transform: uppercase;
}

/* line 334, ../Udemy/UBER_Project/src/sass/_general.sass */
.conditions_block {
  margin: 33px 0;
}

/* line 336, ../Udemy/UBER_Project/src/sass/_general.sass */
.conditions_block_nmb {
  margin-bottom: 0px;
}

/* line 339, ../Udemy/UBER_Project/src/sass/_general.sass */
.conditions_title {
  color: #1ca8c3;
  font-size: 22px;
  font-weight: 400;
}

/* line 344, ../Udemy/UBER_Project/src/sass/_general.sass */
.conditions_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}

/* line 348, ../Udemy/UBER_Project/src/sass/_general.sass */
.conditions_list li {
  position: relative;
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
}

/* line 355, ../Udemy/UBER_Project/src/sass/_general.sass */
.conditions_list li:before {
  content: '';
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../icons/check_blue.png");
}

/* line 365, ../Udemy/UBER_Project/src/sass/_general.sass */
.conditions_descr {
  color: #1ca8c3;
  font-weight: 300;
  margin-bottom: 62px;
}

/* line 371, ../Udemy/UBER_Project/src/sass/_general.sass */
.conditions .warning .conditions_title {
  color: #ff5656;
}

/* line 375, ../Udemy/UBER_Project/src/sass/_general.sass */
.conditions .warning .conditions_list li:before {
  background: url("../icons/Check_red.png");
}

/* line 378, ../Udemy/UBER_Project/src/sass/_general.sass */
.world {
  min-height: 717px;
  background: url("../img/footage_bg.jpg") center center/cover no-repeat;
  padding: 49px 0;
}

/* line 383, ../Udemy/UBER_Project/src/sass/_general.sass */
.world .rectangle_white {
  position: relative;
  width: 112px;
  height: 24px;
  background-color: #ffffff;
}

/* line 389, ../Udemy/UBER_Project/src/sass/_general.sass */
.world .rectangle_subheader {
  position: relative;
  color: #070716;
  text-transform: uppercase;
}

/* line 394, ../Udemy/UBER_Project/src/sass/_general.sass */
.world .section_header_white {
  color: #ffffff;
}

/* line 397, ../Udemy/UBER_Project/src/sass/_general.sass */
.world .section_subheader_white {
  color: #ffffff;
}

/* line 400, ../Udemy/UBER_Project/src/sass/_general.sass */
.world_link {
  display: block;
  color: #1fbad6;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-top: 486px;
}

/* line 408, ../Udemy/UBER_Project/src/sass/_general.sass */
.world_link:hover {
  color: white;
  text-decoration: none;
}

/* line 412, ../Udemy/UBER_Project/src/sass/_general.sass */
footer {
  padding: 14px 23px 39px 23px;
}

/* line 415, ../Udemy/UBER_Project/src/sass/_general.sass */
footer a:hover {
  text-decoration: none;
}

/* line 418, ../Udemy/UBER_Project/src/sass/_general.sass */
.footer_divider {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: 0 auto;
}

/* line 423, ../Udemy/UBER_Project/src/sass/_general.sass */
.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 32px;
}

/* line 428, ../Udemy/UBER_Project/src/sass/_general.sass */
.footer_wrapper > div {
  width: 33%;
}

/* line 430, ../Udemy/UBER_Project/src/sass/_general.sass */
.footer_wrapper > div:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}

/* line 433, ../Udemy/UBER_Project/src/sass/_general.sass */
.footer_social {
  width: 160px;
  display: flex;
  justify-content: space-between;
}

/* line 437, ../Udemy/UBER_Project/src/sass/_general.sass */
.footer_social_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 100%;
}

/* line 446, ../Udemy/UBER_Project/src/sass/_general.sass */
.footer_social_item i {
  color: #fff;
}

/* line 448, ../Udemy/UBER_Project/src/sass/_general.sass */
.footer_links {
  margin: 0 auto;
}

/* line 450, ../Udemy/UBER_Project/src/sass/_general.sass */
.footer_links_main {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

/* line 454, ../Udemy/UBER_Project/src/sass/_general.sass */
.footer_links_main a {
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

/* line 459, ../Udemy/UBER_Project/src/sass/_general.sass */
.footer_links_sub {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* line 463, ../Udemy/UBER_Project/src/sass/_general.sass */
.footer_links_sub a {
  color: #999999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

/* line 468, ../Udemy/UBER_Project/src/sass/_general.sass */
.footer_links_lang {
  display: block;
  margin: 0 auto;
  color: #1fbad6;
  font-size: 11px;
  font-weight: 400;
  margin-top: 19px;
  text-transform: uppercase;
  text-align: center;
}

/* line 478, ../Udemy/UBER_Project/src/sass/_general.sass */
.xs_visible {
  display: none;
}

@media (max-width: 1200px) {
  /* line 2, ../Udemy/UBER_Project/src/sass/_media.sass */
  .menu {
    height: 50px;
  }
  /* line 5, ../Udemy/UBER_Project/src/sass/_media.sass */
  .menu_item {
    padding-right: 20px;
  }
  /* line 8, ../Udemy/UBER_Project/src/sass/_media.sass */
  .menu_link {
    font-size: 13px;
  }
  /* line 13, ../Udemy/UBER_Project/src/sass/_media.sass */
  .subheader_btn:hover {
    border: none;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  }
  /* line 18, ../Udemy/UBER_Project/src/sass/_media.sass */
  .promo_header {
    font-size: 50px;
  }
  /* line 21, ../Udemy/UBER_Project/src/sass/_media.sass */
  .promo_btn:hover {
    border: none;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  }
  /* line 26, ../Udemy/UBER_Project/src/sass/_media.sass */
  .advantages_wrapper {
    align-items: center;
  }
  /* line 28, ../Udemy/UBER_Project/src/sass/_media.sass */
  .advantages_text {
    width: 300px;
  }
  /* line 32, ../Udemy/UBER_Project/src/sass/_media.sass */
  .mobile_item {
    width: 300px;
  }
  /* line 36, ../Udemy/UBER_Project/src/sass/_media.sass */
  .footer_mobile {
    display: flex;
    flex-direction: column;
  }
  /* line 40, ../Udemy/UBER_Project/src/sass/_media.sass */
  .footer_wrapper > div:nth-child(2) {
    width: 45%;
  }
}

@media (max-width: 991px) {
  /* line 43, ../Udemy/UBER_Project/src/sass/_media.sass */
  .menu {
    padding: 13px 20px;
  }
  /* line 45, ../Udemy/UBER_Project/src/sass/_media.sass */
  .menu_link {
    font-size: 10px;
  }
  /* line 48, ../Udemy/UBER_Project/src/sass/_media.sass */
  .subheader {
    width: 100%;
  }
  /* line 51, ../Udemy/UBER_Project/src/sass/_media.sass */
  .subheader_logo img {
    width: 100%;
  }
  /* line 53, ../Udemy/UBER_Project/src/sass/_media.sass */
  .subheader_official {
    font-size: 11px;
  }
  /* line 55, ../Udemy/UBER_Project/src/sass/_media.sass */
  .subheader_phone {
    font-size: 18px;
  }
  /* line 57, ../Udemy/UBER_Project/src/sass/_media.sass */
  .subheader_btn {
    width: 100%;
    height: 40px;
    margin-top: 21px;
  }
  /* line 63, ../Udemy/UBER_Project/src/sass/_media.sass */
  .promo_header {
    font-size: 40px;
  }
  /* line 65, ../Udemy/UBER_Project/src/sass/_media.sass */
  .promo_subheader {
    font-size: 30px;
  }
  /* line 69, ../Udemy/UBER_Project/src/sass/_media.sass */
  .advantages_wrapper {
    align-items: center;
    flex-direction: column;
  }
  /* line 72, ../Udemy/UBER_Project/src/sass/_media.sass */
  .advantages .section_header {
    font-size: 34px;
  }
  /* line 74, ../Udemy/UBER_Project/src/sass/_media.sass */
  .advantages .circle {
    margin-right: 0;
  }
  /* line 77, ../Udemy/UBER_Project/src/sass/_media.sass */
  .mobile {
    min-height: 700px;
    padding: 24px 0 40px 0;
  }
  /* line 80, ../Udemy/UBER_Project/src/sass/_media.sass */
  .mobile_item {
    width: 170px;
    height: 170px;
    padding: 40px 15px;
  }
  /* line 84, ../Udemy/UBER_Project/src/sass/_media.sass */
  .mobile_item_subtitle {
    font-size: 14px;
  }
  /* line 87, ../Udemy/UBER_Project/src/sass/_media.sass */
  .choice {
    padding: 57px 0 138px 0;
  }
  /* line 89, ../Udemy/UBER_Project/src/sass/_media.sass */
  .choice_img {
    transform: translateX(-6%);
  }
  /* line 93, ../Udemy/UBER_Project/src/sass/_media.sass */
  .footer_social {
    width: 80px;
    height: 80px;
    flex-wrap: wrap;
    margin-top: 5px;
  }
  /* line 99, ../Udemy/UBER_Project/src/sass/_media.sass */
  .footer_wrapper > div:nth-child(2) {
    width: 60%;
  }
}

@media (max-width: 767px) {
  /* line 102, ../Udemy/UBER_Project/src/sass/_media.sass */
  nav {
    position: relative;
  }
  /* line 104, ../Udemy/UBER_Project/src/sass/_media.sass */
  .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s all;
  }
  /* line 116, ../Udemy/UBER_Project/src/sass/_media.sass */
  .menu_active {
    left: 0;
  }
  /* line 118, ../Udemy/UBER_Project/src/sass/_media.sass */
  .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  /* line 122, ../Udemy/UBER_Project/src/sass/_media.sass */
  .menu_link {
    font-size: 20px;
  }
  /* line 125, ../Udemy/UBER_Project/src/sass/_media.sass */
  .burger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 14px;
  }
  /* line 133, ../Udemy/UBER_Project/src/sass/_media.sass */
  .burger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 4px;
    transition: 0.5s all;
  }
  /* line 141, ../Udemy/UBER_Project/src/sass/_media.sass */
  .burger_active span {
    margin-bottom: -2px;
  }
  /* line 143, ../Udemy/UBER_Project/src/sass/_media.sass */
  .burger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  /* line 145, ../Udemy/UBER_Project/src/sass/_media.sass */
  .burger_active span:nth-child(2) {
    display: none;
  }
  /* line 147, ../Udemy/UBER_Project/src/sass/_media.sass */
  .burger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }
  /* line 149, ../Udemy/UBER_Project/src/sass/_media.sass */
  .xs_hidden {
    display: none;
  }
  /* line 151, ../Udemy/UBER_Project/src/sass/_media.sass */
  .xs_visible {
    display: block;
  }
  /* line 155, ../Udemy/UBER_Project/src/sass/_media.sass */
  .subheader_phone {
    display: block;
    margin-top: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }
  /* line 162, ../Udemy/UBER_Project/src/sass/_media.sass */
  .subheader_btn {
    width: 200px;
    height: 40px;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
  }
  /* line 170, ../Udemy/UBER_Project/src/sass/_media.sass */
  .promo_header {
    line-height: 45px;
  }
  /* line 173, ../Udemy/UBER_Project/src/sass/_media.sass */
  .section_header {
    font-size: 30px;
  }
  /* line 177, ../Udemy/UBER_Project/src/sass/_media.sass */
  .advantages .section_header {
    font-size: 30px;
    width: 550px;
    margin: 21px 0 26px 36px;
  }
  /* line 181, ../Udemy/UBER_Project/src/sass/_media.sass */
  .advantages_descr {
    text-align: left;
  }
  /* line 184, ../Udemy/UBER_Project/src/sass/_media.sass */
  .choice {
    padding: 70px 0 138px 0;
  }
  /* line 186, ../Udemy/UBER_Project/src/sass/_media.sass */
  .choice_img {
    transform: translateX(0%);
    height: 100%;
    width: 80%;
  }
  /* line 191, ../Udemy/UBER_Project/src/sass/_media.sass */
  .choice {
    min-height: 700px;
  }
  /* line 194, ../Udemy/UBER_Project/src/sass/_media.sass */
  .choice_descr {
    margin-top: 50px;
  }
  /* line 198, ../Udemy/UBER_Project/src/sass/_media.sass */
  .mobile_item {
    width: 290px;
    height: 254px;
    padding: 100px 30px;
  }
  /* line 203, ../Udemy/UBER_Project/src/sass/_media.sass */
  .footer {
    padding: 14px 23px 20px 23px;
    width: 100%;
  }
  /* line 205, ../Udemy/UBER_Project/src/sass/_media.sass */
  .footer_divider {
    width: 253px;
    margin: 0 auto;
  }
  /* line 208, ../Udemy/UBER_Project/src/sass/_media.sass */
  .footer_mobile {
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 20px;
  }
  /* line 215, ../Udemy/UBER_Project/src/sass/_media.sass */
  .footer_social {
    height: 110px;
    width: 160px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 20px;
  }
  /* line 223, ../Udemy/UBER_Project/src/sass/_media.sass */
  .footer_links {
    transform: translateX(0px);
  }
  /* line 227, ../Udemy/UBER_Project/src/sass/_media.sass */
  .footer_links_main a {
    font-size: 14px;
  }
  /* line 229, ../Udemy/UBER_Project/src/sass/_media.sass */
  .footer_links_lang {
    margin-top: 10px;
  }
  /* line 231, ../Udemy/UBER_Project/src/sass/_media.sass */
  .footer_wrapper {
    padding: 12px 0 0 0;
  }
  /* line 233, ../Udemy/UBER_Project/src/sass/_media.sass */
  .footer_wrapper > div {
    width: 20%;
    width-flex-wrap: wrap;
  }
  /* line 240, ../Udemy/UBER_Project/src/sass/_media.sass */
  .footer_wrapper {
    padding: 24px 0 0 0;
    line-height: 16px;
  }
}

@media (max-width: 575px) {
  /* line 246, ../Udemy/UBER_Project/src/sass/_media.sass */
  nav {
    height: 30px;
  }
  /* line 248, ../Udemy/UBER_Project/src/sass/_media.sass */
  header {
    height: 30px;
  }
  /* line 251, ../Udemy/UBER_Project/src/sass/_media.sass */
  .subheader {
    height: 60px;
    top: 30px;
  }
  /* line 254, ../Udemy/UBER_Project/src/sass/_media.sass */
  .subheader_official {
    display: none;
  }
  /* line 256, ../Udemy/UBER_Project/src/sass/_media.sass */
  .subheader_logo {
    margin-top: 16px;
  }
  /* line 258, ../Udemy/UBER_Project/src/sass/_media.sass */
  .subheader_phone {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 11px;
  }
  /* line 263, ../Udemy/UBER_Project/src/sass/_media.sass */
  .subheader_btn {
    width: 110px;
    height: 22px;
    font-size: 10px;
    margin-top: 7px;
  }
  /* line 269, ../Udemy/UBER_Project/src/sass/_media.sass */
  .promo {
    min-height: 400px;
    padding: 93px 0 35px 0;
  }
  /* line 272, ../Udemy/UBER_Project/src/sass/_media.sass */
  .promo_descr {
    display: none;
  }
  /* line 274, ../Udemy/UBER_Project/src/sass/_media.sass */
  .promo_header {
    font-size: 30px;
    padding: -1 24px;
    line-height: 35px;
  }
  /* line 278, ../Udemy/UBER_Project/src/sass/_media.sass */
  .promo_subheader {
    font-size: 20px;
    margin-top: 33px;
    line-height: 30px;
    padding: 0 10px;
  }
  /* line 283, ../Udemy/UBER_Project/src/sass/_media.sass */
  .promo_btn {
    height: 50px;
    width: 210px;
    margin-top: 72px;
  }
  /* line 288, ../Udemy/UBER_Project/src/sass/_media.sass */
  .menu {
    width: 85%;
  }
  /* line 291, ../Udemy/UBER_Project/src/sass/_media.sass */
  .advantages {
    padding: 22px 15px 36px 15px;
  }
  /* line 293, ../Udemy/UBER_Project/src/sass/_media.sass */
  .advantages .section_header {
    width: 100%;
    font-size: 15px;
    margin: 21px 0 0 0;
    line-height: 16px;
  }
  /* line 298, ../Udemy/UBER_Project/src/sass/_media.sass */
  .advantages_subheader {
    margin-top: 25px;
    margin-bottom: 0;
    font-size: 16px;
  }
  /* line 302, ../Udemy/UBER_Project/src/sass/_media.sass */
  .advantages_wrapper {
    margin-top: 0;
  }
  /* line 304, ../Udemy/UBER_Project/src/sass/_media.sass */
  .advantages .circle {
    margin-top: 25px;
    width: 100px;
    height: 100px;
  }
  /* line 308, ../Udemy/UBER_Project/src/sass/_media.sass */
  .advantages .col-md-6 {
    padding: 0 0;
  }
  /* line 310, ../Udemy/UBER_Project/src/sass/_media.sass */
  .advantages_text {
    width: 100%;
  }
  /* line 313, ../Udemy/UBER_Project/src/sass/_media.sass */
  .mobile {
    padding: 22px 0 33px 0;
  }
  /* line 315, ../Udemy/UBER_Project/src/sass/_media.sass */
  .mobile .section_header {
    font-size: 16px;
    margin-top: 15px;
  }
  /* line 318, ../Udemy/UBER_Project/src/sass/_media.sass */
  .mobile .section_subheader {
    font-size: 14px;
    margin-top: 11px;
  }
  /* line 321, ../Udemy/UBER_Project/src/sass/_media.sass */
  .mobile .mobile_item {
    padding: 81px 10px 22px 10px;
  }
  /* line 323, ../Udemy/UBER_Project/src/sass/_media.sass */
  .mobile .mobile_item_subtitle {
    font-size: 18px;
    line-height: 31px;
  }
  /* line 327, ../Udemy/UBER_Project/src/sass/_media.sass */
  .choice {
    padding: 25px 0 20px 0;
    min-height: 390px;
    background: #000;
  }
  /* line 331, ../Udemy/UBER_Project/src/sass/_media.sass */
  .choice .black_bg {
    display: none;
  }
  /* line 333, ../Udemy/UBER_Project/src/sass/_media.sass */
  .choice .section_header_white {
    display: none;
  }
  /* line 335, ../Udemy/UBER_Project/src/sass/_media.sass */
  .choice .section_subheader_white {
    display: none;
  }
  /* line 337, ../Udemy/UBER_Project/src/sass/_media.sass */
  .choice .choice_img {
    margin: 35px auto 0 auto;
    width: 300px;
    height: 190px;
    transform: translateX(-3%);
  }
  /* line 342, ../Udemy/UBER_Project/src/sass/_media.sass */
  .choice .choice_descr {
    margin-top: 23px;
    color: #ffffff;
    font-size: 17px;
    line-height: 24px;
    font-weight: 300;
  }
  /* line 348, ../Udemy/UBER_Project/src/sass/_media.sass */
  .conditions {
    padding: 25px 0 26px 0;
  }
  /* line 350, ../Udemy/UBER_Project/src/sass/_media.sass */
  .conditions .section_header {
    font-size: 16px;
    margin: 15px 0 0 0;
  }
  /* line 353, ../Udemy/UBER_Project/src/sass/_media.sass */
  .conditions_list {
    margin-top: 10px;
    margin-bottom: 0;
  }
  /* line 356, ../Udemy/UBER_Project/src/sass/_media.sass */
  .conditions_list li {
    font-size: 14px;
    left: -20px;
    width: 260px;
    line-height: 17px;
  }
  /* line 361, ../Udemy/UBER_Project/src/sass/_media.sass */
  .conditions_list li:before {
    top: -1px;
  }
  /* line 364, ../Udemy/UBER_Project/src/sass/_media.sass */
  .conditions .conditions_descr {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0;
  }
  /* line 369, ../Udemy/UBER_Project/src/sass/_media.sass */
  .conditions_block {
    margin-top: 0;
    margin-bottom: 16px;
  }
  /* line 372, ../Udemy/UBER_Project/src/sass/_media.sass */
  .conditions_title {
    font-size: 16px;
    margin-top: 14px;
  }
  /* line 376, ../Udemy/UBER_Project/src/sass/_media.sass */
  .world {
    padding: 25px 0 26px 0;
    min-height: 360px;
  }
  /* line 379, ../Udemy/UBER_Project/src/sass/_media.sass */
  .world .container {
    height: 360px;
  }
  /* line 381, ../Udemy/UBER_Project/src/sass/_media.sass */
  .world .section_header_white {
    font-size: 16px;
    margin-top: 15px;
  }
  /* line 384, ../Udemy/UBER_Project/src/sass/_media.sass */
  .world .section_subheader_white {
    font-size: 14px;
    margin-top: 10px;
  }
  /* line 387, ../Udemy/UBER_Project/src/sass/_media.sass */
  .world_link {
    margin-top: 216px;
  }
  /* line 391, ../Udemy/UBER_Project/src/sass/_media.sass */
  footer {
    padding: 14px 23px 20px 23px;
  }
  /* line 396, ../Udemy/UBER_Project/src/sass/_media.sass */
  .footer_divider {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  /* line 400, ../Udemy/UBER_Project/src/sass/_media.sass */
  .footer_wrapper {
    padding: 0 0;
    flex-wrap: wrap;
  }
  /* line 403, ../Udemy/UBER_Project/src/sass/_media.sass */
  .footer_wrapper .footer_mobile {
    height: 27px;
    margin-top: 0;
  }
  /* line 407, ../Udemy/UBER_Project/src/sass/_media.sass */
  .footer_wrapper .footer_social {
    height: 32px;
    margin-top: 0;
  }
  /* line 411, ../Udemy/UBER_Project/src/sass/_media.sass */
  .footer_wrapper .footer_links {
    display: flex;
    flex-direction: column;
    margin: 0 0 13px 0;
  }
  /* line 415, ../Udemy/UBER_Project/src/sass/_media.sass */
  .footer_wrapper .footer_links_main {
    width: 290px;
  }
  /* line 418, ../Udemy/UBER_Project/src/sass/_media.sass */
  .footer_wrapper .footer_links_sub {
    width: 270px;
    margin-left: 10px;
    margin-top: 4px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  /* line 424, ../Udemy/UBER_Project/src/sass/_media.sass */
  .footer_wrapper .footer_links_sub a {
    line-height: 22px;
  }
  /* line 426, ../Udemy/UBER_Project/src/sass/_media.sass */
  .footer_wrapper .footer_links_lang {
    margin-top: 5px;
  }
  /* line 429, ../Udemy/UBER_Project/src/sass/_media.sass */
  .footer_wrapper > div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  /* line 434, ../Udemy/UBER_Project/src/sass/_media.sass */
  .footer_wrapper > div:nth-child(1) {
    order: 2;
    width: 100%;
  }
  /* line 437, ../Udemy/UBER_Project/src/sass/_media.sass */
  .footer_wrapper > div:nth-child(2) {
    order: 1;
    width: 100%;
    margin-bottom: 5px;
  }
  /* line 441, ../Udemy/UBER_Project/src/sass/_media.sass */
  .footer_wrapper > div:nth-child(3) {
    order: 3;
    width: 100%;
    margin-bottom: 0;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */